.page {
    width: 800px;
    min-width: 600px;
    background: white;
    border-radius: 10px;
    padding: 20px 55px;
}

.title {
    font-size: 25px;
    margin-bottom: 0.3em;
    text-align: center;
}
.title h2 {
    margin: 0;
}

.title p {
    font-size: 15px;
    margin-bottom: 0;
}

.section {
}
