.taskItem_container {
    background-color: brown;
    margin-bottom: 15px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.taskItem_header {
    width: 100%;
    display: flex;

    justify-content: space-between;
}

.taskItem_date {
    width: 50%;
    font-size: 10px;
    text-align: right;
}

.taskItem_title {
    width: 50%;
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 15px;
}

.taskItem_description {
    font-size: 15px;
    margin-bottom: 15px;
}

.taskItem_button_container {
    display: flex;
    justify-content: right;
    gap: 5px;
}
